<h1 class="text-center text-danger">Modifier ce gossip</h1> <br>
<%= form_for @gossip, url: {action: "update"} do |f| %>
<div class="container jumbotron" >
  <%= f.text_field :content, class: "form-control", placeholder: "content" %><br>
  <%= f.text_field :anonymous_gossiper, class: "form-control", placeholder: "ton blaze" %><br>
  <%= f.submit "Modifier ce gossip", class: "btn btn-warning" %><br>
  </div>
<% end %>



<!--
<a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger" data-confirm="ARE YOU SURE ?"
data_method="delete">Clique pour détruire</a> -->
