<h2><%=Gossip.find(@id).anonymous_gossiper%></h2> <br>
<h2><%=Gossip.find(@id).title%></h2> <br>
<q><%=Gossip.find(@id).content%></q><br>
<p>Date de création: <%=Gossip.find(@id).created_at%></p>

<a href="<%= edit_gossip_path(@id) %>" class="btn btn-primary">Editer</a>


<%= link_to 'Clique pour détruire', gossip_path(@id), method: :delete, class:"btn btn-danger",
data: { confirm: "ARE YOU SURE ????"} %>
<%= link_to "> Voir tous les Gossips", gossips_path %>