<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   '/' %></li>
        <li><%= link_to "Index des gossips",   '/gossips' %></li>
        <li><%= link_to "Nouveau gossip", '/gossips/new' %></li>
         <li><%= link_to "Log in", '/registrations/new' %></li> 
         <li><%= link_to "Sign in", '/users/new' %></li>   
      
      <%if $curent_user == nil then %> <p></p>
      <%else%>
      <p>Bonjour <%=$curent_user%> </p>
       <%end%>
        </ul>
    </nav>
  </div>
</header>